<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create new user</title>
</head>
<body>

<form method="post" action="{{ url_for('users.create_user') }}">
    <input type="text" name="email" placeholder="enter a valid email">
    <br><input type="password" name="password" placeholder="password">
    <br><input type="password" name="password1" placeholder="enter the password again">
    <br><input type="text" name="firstname" placeholder="first name">
    <br><input type="text" name="lastname" placeholder="last name">
    <br><input type="text" name="phone" placeholder="phone number">
    <br><input type="submit" value="create">
</form>

</body>
</html>